@using SalesBuddy.Controllers
@model SalesBuddy.Models.Product

@{
    ViewBag.Title = "Create";
}
<br /><br /><br />
<h4>Input Closed Sales</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@{
                        var productType = new List<SelectListItem>()
                        {
                            new SelectListItem {Text = "Auto"},
                            new SelectListItem {Text = "Mortgage"},
                            new SelectListItem {Text = "Credit Card"},
                            new SelectListItem {Text = "Checking Account"}
                        };


                        @Html.DropDownListFor(model => model.ProductType, productType, new {@class = "form-control"})
                    }*@
                <input type="button" id="AutoLoan" value="Auto" class="btn btn-primary" />
                <input type="button" id="MortgageLoan" value="Mortgage" class="btn btn-primary" />
                <input type="button" id="CreditCard" value="Credit Card" class="btn btn-primary" />
                <input type="button" id="CheckinngAccount" value="Checking" class="btn btn-primary" />

            </div>
        </div>


        <div id="autoDiv"></div>
        <div id="mortgageDiv"></div>
        <div id="creditDiv"></div>
        <div id="checkingDiv"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
            @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
            </div>
        </div>*@

        
            <div class="form-group">
                @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
                        var users = AccountController.GetUserNames();
                        var userNames = new List<SelectListItem>();
                        foreach (var item in users)
                        {
                            userNames.Add(new SelectListItem { Text = item.Email });
                        }
                    ;
                        @Html.DropDownListFor(model => model.UserEmail, userNames, new { @class = "form-control" })
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
 
                        }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker(); //Initialise any date pickers
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AutoLoan').click(function () {
                $('#autoDiv').load('/Products/_AutoLoan');
            });
        });


    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MortgageLoan').click(function () {
                $('#mortgageDiv').load('/Products/_MortgageLoan');
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#CreditCard').click(function () {
                $('#creditDiv').load('/Products/_CreditCard');
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#CheckingAccount').click(function () {
                $('#checkingDiv').load('/Products/_CheckingAccount');
            });
        });
    </script>
}
