@model SalesBuddy.Models.Goal

@{
    ViewBag.Title = "Details";
}

<br /><br /><br />

<div>
    <h4>Goals</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoGoal)
        </dt>

        <dd>
            <font color="red">
                @Html.DisplayFor(model => model.AutoGoal)
            </font>
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.AutoActual)
        </dt>

        <dd>
            <font color="green">
                @Html.DisplayFor(model => model.AutoActual)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoPercentage)
        </dt>

        <dd>
            <font color="blue">
                @Html.DisplayFor(model => model.AutoPercentage)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MortgageGoal)
        </dt>

        <dd>
            <font color="red">
                @Html.DisplayFor(model => model.MortgageGoal)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MortgageActual)
        </dt>

        <dd>
            <font color="green">
                @Html.DisplayFor(model => model.MortgageActual)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MortgagePercentage)
        </dt>

        <dd>
            <font color="blue">
                @Html.DisplayFor(model => model.MortgagePercentage)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardGoal)
        </dt>

        <dd>
            <font color="red">
                @Html.DisplayFor(model => model.CreditCardGoal)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardActual)
        </dt>

        <dd>
            <font color="green">
                @Html.DisplayFor(model => model.CreditCardActual)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardPercentage)
        </dt>

        <dd>
            <font color="blue">
                @Html.DisplayFor(model => model.CreditCardPercentage)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckingGoal)
        </dt>

        <dd>
            <font color="red">
                @Html.DisplayFor(model => model.CheckingGoal)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckingActual)
        </dt>

        <dd>
            <font color="green">
                @Html.DisplayFor(model => model.CheckingActual)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckingPercentage)
        </dt>

        <dd>
            <font color="blue">
                @Html.DisplayFor(model => model.CheckingPercentage)
            </font>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.GoalId }) |
        </p>
        }
    }

    @Html.ActionLink("Back to List", "Index")
    </p>
