@model dynamic
@{
    ViewBag.Title = "Manage";
}

<br/><br/><br/>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Dashboard</h4>
    <hr/>
    <table class="tlinks">
        <tr>
            <td>
                @Html.ActionLink("View Sales", "Index", "Products", null, new {@class = "sales"})
            </td>
            <td>
                @Html.ActionLink("View Goals", "Index", "Goals", null, new { @class = "goals" })
            </td>
            <td>
                @Html.ActionLink("View Leads", "Index", "Leads", null, new {@class = "leads"})
            </td>
            <td>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword", null, new {@class = "changepassword"})
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </td>

            <td>
                @Html.ActionLink("View Sales", "Index", "Products", null, new {@class = "sales"})
            </td>
        </tr>
    </table>

</div>
